body {
  background-color: #0D1B2A;
  color: #B2F7EF;
}

.container {
  max-width: 400px;
  margin: auto;
  margin-top: 200px;
  background-color: #21897E;
  /* color: white; */
}

.container h2 {
  margin: 0px;
  text-align: center;
  background-color: #AA1155;
  color: white;
}

.container ul {
  padding: 1px 20px;
}

.container li {
  list-style: none;
  margin-left:18px;
  display: block;
}

.container .task-content:hover {
  background-color: #B2F7EF;
  color:#0D1B2A;
}
.container * ul {
  padding-right: 0px;
}

.container li span:nth-child(2) {
  display: inline-block;
  width: 90%;
}

.container input[type='checkbox'] {
  float: right;
}
.container li span.fa-times-circle {
  float: left;
  margin-left: -18px;
  padding-top: 3px;
  padding-right: 5px;
}

.container li input[type='checkbox'] {
  margin-left: -18px;
  margin-top: 4px;
}

.container .primary-add {
  padding: 0 5px;
  margin: 0;
  width: 386px;
  height: 30px;
}

.container .primary-add:focus {
  outline: none;
  border: 2px solid #AA1155;
  width: 386px;
}
